<!-- error/500.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Error | RideVia</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />'
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

</head>
<body>
<div class="form-container">
    <div class="form-card">
        <img src="/img/logo.png" alt="RideVia Logo" class="form-logo" />
        <h1>500 - Server Error</h1>
        <p>Oops! Something broke on our side. We're fixing it!</p>
        <a th:href="@{/}" class="btn">← Back to Home</a>
    </div>
</div>
</body>
</html>

